body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #a01eb1;
}

header {
    text-align: center;
}

header p {
    color: #671666;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 32px;
    margin: 20px 0 0 20px;
    text-align: left;
}

main p {
    color: #671666;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin: 20px 0 0 20px;
    text-align: left;
}

nav ul {
    color: #671666;
    text-align: right;
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}

main {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center; 
    align-items: center;
}

footer {
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10;
}

.left-row,
.right-row {
    flex-basis: 50%;
}

/* Optional: Adjust styles for paragraph elements */
.left-row p,
.right-row p {
    margin: 0; /* Remove default margin */
    color: #671666;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 20px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
}

.popup-content {
    text-align: center;
}

.popup-content input,
.popup-content textarea,
.popup-content button {
    margin-bottom: 10px;
}

.popup-message {
    color: #a01eb1;
    font-weight: 300;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
